{
    acme_dns cloudflare {env.CLOUDFLARE_API_TOKEN}
}

dns.spencerdennison.com {
    redir / /admin{uri}
    reverse_proxy pihole:80
}

dashboard.spencerdennison.com {
    reverse_proxy glance:8080
}

music.spencerdennison.com {
    reverse_proxy navidrome:4533
}

torrent.spencerdennison.com {
    reverse_proxy qbittorrent:2004
}
